---
import Layout from "@/layouts/Layout.astro";
import "../styles/globals.css";
---

<Layout title="Home Page">
  <main>
    <h1>Hi.I'm Jaime. A Software Engineer</h1>
    <h2>Soñador impresionante. Desarrollador web</h2>
  </main>
</Layout>
