---
import Layout from "@/layouts/Layout.astro";
import "../styles/globals.css";
---

<Layout  title="Porfolio de Jaime López - Desarrollador y Programador Web | Desarrollador de aplicaciones web y móviles |"
description="Especializado en crear aplicaciones únicas.">
  <main>
    <h1>Hi.I'm Jaime. A Software Engineer</h1>
    <h2>Soñador impresionante. Desarrollador web</h2>
  </main>
</Layout>
