---
interface Card {
  title: string;
  backgroundImage: string;
}

const { title, backgroundImage } = Astro.props;

const PROJECTS = [
  {
    logo: "/projects/logo_bco.png",
    image: "/projects/bg_pilates.jpg",
  },
  {
    logo: "/projects/logo_bco.png",
    image: "/projects/bg_pilates.jpg",
  },
];
---

<div class="flex flex-row gap-x-5">
    {
      PROJECTS.map(({ image, logo }) => (
        <div class="relative h-96 group">
          <img
            src={image}
            alt={title}
            class="object-cover w-full h-full transform group-hover:-translate-y-3 transition-transform duration-500 rounded-md"
            loading="lazy"
          />
          <img
            src={logo}
            alt={title}
            class="absolute top-0 left-0 px-5 py-5 w-28 h-28 object-cover transform group-hover:-translate-y-3 transition-transform duration-500"
            loading="lazy"
          />
        </div>
      ))
    }
  </div>
