---
const currentYear = new Date().getFullYear()

import { LinkedinIcon } from "lucide-react"
import { GithubIcon } from "lucide-react"
import { BriefcaseIcon } from "lucide-react";
---

<footer
  class="rounded-lg shadow m-4 bg-black/5 dark:bg-white/10 dark:shadow-white/20 backdrop-blur-lg w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center"
>
  <div
    class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4 px-4 md:px-0"
  >
    <span class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90"
      >© {currentYear}
      <a href="https://github.com/Jaime-prog" class="hover:underline">Jaime López •
      </a>
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
    >
     
    <ul class="flex flex-col text-base">
        <li>
            <span class="text-slate-700 font-bold text-base">Elsewhere</span>
        </li>
        <li class="flex flex-row justify-between">
            <a href="https://github.com/Jaime-prog" class="hover:underline me-4 md:me-6">Github</a>
            <GithubIcon size={20} />
        </li>
        <li class="flex flex-row justify-between">
            <a href="https://github.com/Jaime-prog" class="hover:underline me-4 md:me-6">CV</a>
            <BriefcaseIcon size={20} className="items-end"/>
        </li>
        <li class="flex flex-row justify-between">
            <a href="https://www.linkedin.com/in/jaime-lopez-hernandez/" class="hover:underline me-4 md:me-6">LinkedIn</a>
            <LinkedinIcon size={20} />
        </li>
    </ul>
      </li>
    </ul>
  </div>
</footer>